#root {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.about {
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
}

.about-p {
  font-family: "Merriweather", serif;
  font-weight: 100;
  font-size: 40px;
  width: 64%;
  padding-right: 5%;
  text-transform: uppercase;
}

.schedule {
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
}

.schedule div {
  width: 90%;
  padding-left: 5%;
}

.schedule-p {
  font-family: "Merriweather", serif;
  font-weight: 100;
  font-size: 40px;

  text-transform: uppercase;
}

.table-tr {
  margin: 0;
  padding: 0;
  /* width: 5%; */
}

.table-th-1 {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-right: 0.5%;
  color: #313131;
  width: 2%;

}

.table-th-2 {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 1%;
  width: 5%;
}

.table-tr th, .table-tr td {
  border-bottom: 2px solid #D0D0D0;
}


.table-th-1, .table-th-2, td {
  border-right: 2px solid #D0D0D0;
}

.table-tr th:last-child, .table-tr td:last-child {
  border-right: none;
}

table {
  border-collapse: collapse;
}

.steps-head h1 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 47.5px;
  width: 50%;
  text-transform: uppercase;

}

.steps-head-span2 {
  font-family: "Merriweather", serif;
  color: #3057A2;
  font-size: 15px;
  width: 30%;
  text-transform:none;
  padding-left: 2%;
  position: relative;
  display: inline-block;
}

.step {
  background-image: url('assets/frame.png');
  width: 95%;
  margin: auto;
}

.step-div-main {
  width: 90%;
}

.step p {
  width: 90%;
  font-family: "Golos Text", serif;
  font-weight: 400;
  font-size: 15px;
  padding: 5%;
  max-height: 30%;
  height: 30%;
  display: flex;  
  align-items: center; 
}
.step-span {
  background-color: white;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 40px;
  background: #f0f0f0;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 100%;
}


.container {
  max-width: 900px;
  text-align: center;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.participants {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.participant {
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  text-align: center;
}
.participant img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.name {
  font-size: 1.2rem;
  margin: 23px 0 15px 0;
  font-weight: bold;
}
.title {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}
.button {
  padding: 10px 20px;
  border: 1px solid #007BFF;
  border-radius: 45px;
  color: #007BFF;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #007BFF;
  color: #fff;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 30%;
}

.navigation span {
  margin: 0 10px;
}

.nav-button {
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
}

.nav-h2 {
  font-family: 'Golos Text', sans-serif;
  font-size: 53px;
  text-transform: uppercase;
  font-weight: 100;
}

footer {
  margin-top: 0;
  background-color: #E9DED4;
}

.players-head {
  display: flex;
  justify-content: space-around
}

.invisible {
  display: none;
  width: 0;
  height: 0;
}

@media only screen and (min-width: 370px) and (max-width: 768px) {

  .header-button-2 {
    color: white;
  }

  .header-image-background {
    width: 100%;
    height: 20%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1000;
  }

  .header-h1 {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    font-size: 35px;
    margin: 0;
  }

  .logo {
    padding: 25px;
  }

  .header-h1-div {
    padding: 25px;
    padding-left: 5%;
    padding-bottom: 0;
    max-width: 100%;
    margin: 0;
  }

  .header-p {
    font-family: 'Golos Text', sans-serif;
    font-weight: 100;
    font-size: 17px;
    margin: 0;
  }

  .header-p-div {
    padding: 6%;
    max-width: 80%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .header-button-div {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
  }

  .header-button {
    font-size: 16px;
    max-width: 60%;
    width: 60%;
    max-height: 1% !important;
    margin: 5% auto;
    border-radius: 90px;
    padding: 15px 40px;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .about p {
    font-size: 20px;
    width: 90%;
    text-align: center;
  }

  .group-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
  }

  .schedule {
    flex-direction: column;
    align-items: center;
  }

  .schedule img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
  }

  .schedule-p {
    font-size: 20px;
    width: 90%;
    text-align: center;
  }

  .steps-head {
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .steps-head h1 {
    font-size: 25px;
    width: 90%;
    height: 40%;
    margin: auto;
  }

  .steps-head-span1 {
    width: 90%;
    margin: auto;
  }

  .steps-head-span2 {
    font-size: 20px;
    position: relative;
    display: block;
    width: 90%;
    margin: auto;
  }

  .step-div-main {
    display: block !important;
  }

  .step {
    background-image: url('./frame.png');
    width: 90%;
    margin: auto;
  }

  .step-div-container-1 {
    width: 90% !important;
    margin: auto;
  }

  .step-div-container-2 {
    width: 100% !important;
    margin: auto;
    display: block !important;
  }
  .steps-absolute-div img {
    display: none;
  }

  .step-7 {
    width: 90% !important;
    margin: auto !important;
    padding: auto !important;
  }
  
  .step-2 {
    height: 30% !important;
    display: block !important;
  }

  .step-2 p {
    height: 20% !important;


  }

  .step-7 p {
    width: 90% !important;
    padding: 5% !important;
  }

  .players-head {
    display: block !important;
    text-align: center;
  }

  .players-head-div1 {
    width: 90% !important;
    margin: auto;
    padding: 0 !important;
  }

  .navigation {
    display: block !important;
    text-align: center;
    padding: 0 !important;
    width: 100% !important;
    margin: 20px auto 30px;
  }

  .participants {
    display: block !important;
    text-align: center;
  }

  .participant {
    width: 60% !important;
    margin: 0 auto 40px;
    padding: 0 !important;
  }
}